.case-modal#case-modal4.hystmodal(aria-hidden='true')
   .hystmodal__wrap
      .hystmodal__container
          
         .hystmodal__window.case-modal__window(role='dialog' aria-modal='true')
            button.case-modal__close(data-hystclose='')
               +svgIcon(23, 23, "#i-close")
            .case-modal__content
               .case-header
                  +picture("./assets/img/modal-cases/case4.png", "./assets/img/modal-cases/case4.webp")
               .case-modal__container
                  h2.title.title--small.case-modal__title <span>Заказчик</span> Благотворительный фонд, который заинтересован в продвижений двух посадочных страниц: 
                  .case-dignity.case-modal__dignity
                     ul.case-dignity__list
                        li.case-dignity__item 
                           <span class="case-number case-number--mod">1</span>
                           p.case-dignity__text сбор единоразовых подписок
                        li.case-dignity__item 
                           <span class="case-number case-number--mod">2</span>
                           p.case-dignity__text подписка на&nbsp;ежемесячные платежи
 
                  .case-tasks
                     h3.case-name.case-modal__name <span>&excl;</span> Задача:
                     ul.case-tasks__list 
                        li.case-tasks__item 
                           img(src="./assets/img/icons/plus-orange.svg", alt="")
                           p.case-tasks__text Увеличить количество пожертвований за&nbsp;счет рекламы в&nbsp;соцсетях.
                  
                  .case-purpose 
                     h3.case-name.case-modal__name Цель:
                     ul.case-list--helps 
                        li.case-list__item 
                           p.case-list__description Конкретной цифры оговорено не&nbsp;было, была доступна статистика по&nbsp;яндекс <span class="hashtag">#метрике,</span> где были видны результаты с <span class="hashtag">#яндексдиректа</span> и&nbsp;органического <span class="hashtag">#трафика.</span> 
                        li.case-list__item 
                           p.case-list__description <span>При рекламном бюджете в</span><span class="red">&nbsp;90&nbsp;тыс/мес на&nbsp;яндекс директ,</span> осуществлялось приблизительно <span class="red">100-110 пожертвований в&nbsp;месяц.</span>
                           
                  .case-info
                     h3.case-name.case-modal__name Общая информация:
                     ul.case-info__list
                        li.case-info__item 
                           p.case-info__description <span>Локация:</span> вся Россия.
                        li.case-info__item 
                           p.case-info__description <span>Средняя сумма пожертвований:</span> около 1500 рублей.
                        li.case-info__item 
                           p.case-info__description  <span>Бюджет рекламной кампании:</span> <span class="red"> 90&nbsp;000 рублей</span> (30&nbsp;т.р.&nbsp;на&nbsp;Instagram, 30&nbsp;т.р.&nbsp;на&nbsp;Facebook, 30&nbsp;т.р.&nbsp;на&nbsp;Вконтакт) 
                        li.case-info__item 
                           p.case-info__description <span>Срок рекламной кампании:</span> <span class="red">1&nbsp;месяц</span>

               .case-made
                  h3.case-name.case-modal__name Было сделано:
                  ul.case-list 
                     li.case-list__item 
                        span.case-number 1
                        p.case-list__description Составлены портреты целевой аудитории.
                     li.case-list__item 
                        span.case-number 2
                        p.case-list__description Подготовлены рекламные кампании для каждой соцсети с&nbsp;целью привлечения трафика на&nbsp;2&nbsp;посадочных страницы.
                     li.case-list__item 
                        span.case-number 3
                        p.case-list__description Подготовлены объявления, тексты.
                     li.case-list__item 
                        span.case-number 4
                        p.case-list__description Проведено сплит-тестирование.

 
               .case-modal__container
                  .case-result 
                     h3.case-name.case-modal__name Результат:
                     
                     .case-result__box 
                        .case-result__col
                           h4.case-name.case-name--small Регулярные ежемесячные пожертвования:
                           ul.case-list 
                              li.case-list__item 
                                 img(src="./assets/img/icons/plus.svg", alt="")
                                 p.case-list__description 7&nbsp;подписок на&nbsp;с&nbsp;Instagram
                              li.case-list__item 
                                 img(src="./assets/img/icons/plus.svg", alt="")
                                 p.case-list__description 17&nbsp;c Facebook
                              li.case-list__item 
                                 img(src="./assets/img/icons/plus.svg", alt="")
                                 p.case-list__description 31&nbsp;Вконтакте
                        .case-result__col 
                           h4.case-name.case-name--small Единоразовые пожертвования:
                           ul.case-list 
                              li.case-list__item 
                                 img(src="./assets/img/icons/plus.svg", alt="")
                                 p.case-list__description 22&nbsp;с Instagram
                              li.case-list__item 
                                 img(src="./assets/img/icons/plus.svg", alt="")
                                 p.case-list__description 37&nbsp;с Facebook
                              li.case-list__item 
                                 img(src="./assets/img/icons/plus.svg", alt="")
                                 p.case-list__description 62&nbsp;c Вконтакта
                     .case-works 
                        a.logo(href="/")
                           img(src="./assets/img/logo.svg" alt="Логотип - таргет мастер")
                        p.case-works__content Таргет-Мастер – 🎯 реклама, которая работает!
 

                  .case-connection
                     h3.case-name.case-name--center Хотите так&nbsp;же? Оставьте заявку и&nbsp;мы&nbsp;перезвоним        
   
                     form.case-connection__form.js-form4-case
                        label.case-connection__group
                           span.input-title *Ваше имя
                           input.input(type="text" name="name" data-validate-field="name") 
                     
                        label.case-connection__group
                           span.input-title *Телефон
                           input.input.js-telephone(type="tel" name="phone" placeholder="+7 (___) ___-__-__" data-validate-field="phone")
                     
                        p.case-connection__confidentiality Нажимая на кнопку “Хочу так же”, вы выражаете свое  согласие на обработку персональных данных, определенных <a href="#">Политикой конфиденциальности</a> 
                        button.button.form-modal__submit(type="submit") Хочу так же!