.success#success.hystmodal(aria-hidden='true')
   .hystmodal__wrap
      .hystmodal__window(role='dialog' aria-modal='true')
         button.hystmodal__close(data-hystclose='')
         .success__content 
            p.success__title Спасибо за заявку
            p.success__text Мы&nbsp;с&nbsp;вами свяжемся в&nbsp;ближайшее время!