extends ../layouts/master-page.pug

block variables 
   - var title = "Настройка таргетированной рекламы в Instagram и facebook с гарантией"

block content  
   include ../sections/works
   include ../sections/tasks
   include ../sections/users
   include ../sections/start
   include ../sections/plan
   include ../sections/price
   include ../sections/clients