footer.footer#footer.js-footer
   .footer__content
      .footer__top
         .footer__box
            h2.title.footer__title Контакты
            img.footer__logo(src="./assets/img/logo-two.svg", alt="")
         .footer__box
            p.footer__text Комплексный digital-маркетинг в социальных сетях
      .footer__contacts    
         a.footer__phone(href="tel:+74993482427") +7 499 348 24 27
         button.footer__callback(data-hystmodal="#form-modal" type="button") Перезвоните мне 
      address.footer__address Самарская обл., г. Тольятти<br> Новый проезд д.8, 319к., БЦ “Форум”
   .footer__map
      <iframe class="js-footer-map" data-src="https://yandex.ru/map-widget/v1/?um=constructor%3A3fda819cf2f8a0e96fccf7fc334b90b6a95777af47b56a226fe972c8703283c4&amp;source=constructor"></iframe>

a.to-up.js-to-up(href="#header") 
   +svgIcon("30", "30", "#i-arrow-top")