section.plan
   .container   
      .plan__img 
         +picture("./assets/img/plan/rocket.png", "./assets/img/plan/rocket.webp")
      .plan__content
         h2.plan__title Для маркетологов есть профессиональный режим работы с&nbsp;нами:
         
         ul.plan__list 
            li.plan__item 
               .plan__number 1
               p.plan__text Присылайте портреты клиентов

            li.plan__item 
               .plan__number 2
               p.plan__text Желаемые аудитории и&nbsp;интересы
               
            li.plan__item 
               .plan__number 3
               p.plan__text Целевые KPI (CPC, CPM, CPL, CPO, ROMI)

         p.plan__description Мы&nbsp;подготовим план работы по&nbsp;достижению KPI, напишем медиаплан и&nbsp;приступим к&nbsp;его реализации