section.price#price
   .container 
      h2.title.title--white.price__title Немного о цене

      .price__inner 
         .price__list 
            button.price__btn(type="button" data-tab="#price-1").price__btn--active <span>Сколько стоит клик?</span>
            button.price__btn(type="button" data-tab="#price-2") <span>Сколько стоит заявка?</span>
            button.price__btn(type="button" data-tab="#price-3") <span>Сколько времени требуется для запуска? </span>
            button.price__btn(type="button" data-tab="#price-4") <span>С&nbsp;какими рекламными площадками вы&nbsp;работаете?</span>
            button.price__btn(type="button" data-tab="#price-5") <span>Из&nbsp;чего складывается стоимость ваших услуг?</span>
            button.price__btn(type="button" data-tab="#price-6") <span>Когда пойдут первые заявки?</span>

         .price__list.price__list--mobile 
            .price__box
               button.price__btn.price__btn--active(type="button" data-tab="#price-mobile1") <span>Сколько стоит клик?</span>
               .price__answers#price-mobile1.price__answers--active    
                  p.price__answer Стоимость клика зависит от&nbsp;нескольких факторов: аудитории, креатива, текста, предложения. Она может варьироваться от&nbsp;3 до&nbsp;60&nbsp;руб. В&nbsp;Москве и&nbsp;Московской области стоимость клика обычно выше в&nbsp;1.5&ndash;2 раза, чем в&nbsp;остальных регионах. Мы&nbsp;можем снижать стоимость клика в&nbsp;несколько раз благодаря попаданию в&nbsp;целевую аудиторию и&nbsp;грамотному маркетингу.
            .price__box
               button.price__btn(type="button" data-tab="#price-mobile2") <span>Сколько стоит заявка?</span>
               .price__answers#price-mobile2   
                  p.price__answer Стоимость заявки зависит от&nbsp;Вашего предложения, на&nbsp;бесплатные семинары и&nbsp;процедуры стоимость заявки может быть 30&ndash;50&nbsp;руб. Есть и&nbsp;дорогие услуги, например, сфера недвижимости или строительство. Стоимость заявок может колебаться в&nbsp;пределах 1500 -5000&nbsp;руб. Но&nbsp;даже в&nbsp;дорогих сегментах можно сформировать предложение простого первого шага, чтобы снизить стоимость заявки, например, в&nbsp;строительстве хорошо работает бесплатный дизайн&nbsp;&mdash; проект. Мы&nbsp;всегда даем рекомендации по&nbsp;формированию конкурентного предложения.
            .price__box
               button.price__btn(type="button" data-tab="#price-mobile3") <span>Сколько времени требуется для запуска?</span>
               .price__answers#price-mobile3    
                  p.price__answer Для запуска рекламной кампании, включающей подготовку всех рекламных материалов и&nbsp;настройку рекламного кабинета, требуется обычно от&nbsp;3 до&nbsp;5 дней. Модерация длится от&nbsp;3 часов до&nbsp;1 дня. После этого рекламу увидят потенциальные клиенты.
            .price__box
               button.price__btn(type="button" data-tab="#price-mobile4") <span>С&nbsp;какими рекламными площадками вы&nbsp;работаете?</span>
               .price__answers#price-mobile4
                  p.price__answer Мы&nbsp;работаем с&nbsp;четырьмя основными рекламными площадками: facebook, Instagram, ЯндексДирект и&nbsp;Google ADS. На&nbsp;запуск двух и&nbsp;более площадок предоставляем скидку 50%.
            .price__box
               button.price__btn(type="button" data-tab="#price-mobile5") <span>Из&nbsp;чего складывается стоимость ваших услуг?</span>
               .price__answers#price-mobile5    
                  p.price__answer Стоимость услуг складывается из&nbsp;количества товаров, которые вы&nbsp;хотите запустить в&nbsp;рекламу, а&nbsp;также количества рекламных площадок, на&nbsp;которых будут показываться рекламные объявления. Рекламный бюджет никак не&nbsp;влияет на&nbsp;стоимость работ.
            .price__box
               button.price__btn(type="button" data-tab="#price-mobile6") <span>Когда пойдут первые заявки?</span>
               .price__answers#price-mobile6    
                  p.price__answer Первые заявки пойдут в&nbsp;течении первых дней запуска рекламы. Если по&nbsp;<nobr>каким-то</nobr> причинам в&nbsp;течении 10 дней после запуска рекламы не&nbsp;будет заявок&nbsp;&mdash; мы&nbsp;вернем деньги. На&nbsp;данный момент таких прецедентов не&nbsp;было, именно поэтому мы&nbsp;можем дать такую гарантию.
        
         .price__content
            .price__answers#price-1.price__answers--active 
               p.price__answer Стоимость клика зависит от&nbsp;нескольких факторов: аудитории, креатива, текста, предложения. Она может варьироваться от&nbsp;3 до&nbsp;60&nbsp;руб. В&nbsp;Москве и&nbsp;Московской области стоимость клика обычно выше в&nbsp;1.5&ndash;2 раза, чем в&nbsp;остальных регионах. Мы&nbsp;можем снижать стоимость клика в&nbsp;несколько раз благодаря попаданию в&nbsp;целевую аудиторию и&nbsp;грамотному маркетингу.
            .price__answers#price-2 
               p.price__answer Стоимость заявки зависит от&nbsp;Вашего предложения, на&nbsp;бесплатные семинары и&nbsp;процедуры стоимость заявки может быть 30&ndash;50&nbsp;руб. Есть и&nbsp;дорогие услуги, например, сфера недвижимости или строительство. Стоимость заявок может колебаться в&nbsp;пределах 1500 -5000&nbsp;руб. Но&nbsp;даже в&nbsp;дорогих сегментах можно сформировать предложение простого первого шага, чтобы снизить стоимость заявки, например, в&nbsp;строительстве хорошо работает бесплатный дизайн&nbsp;&mdash; проект. Мы&nbsp;всегда даем рекомендации по&nbsp;формированию конкурентного предложения.
            .price__answers#price-3
               p.price__answer Для запуска рекламной кампании, включающей подготовку всех рекламных материалов и&nbsp;настройку рекламного кабинета, требуется обычно от&nbsp;3 до&nbsp;5 дней. Модерация длится от&nbsp;3 часов до&nbsp;1 дня. После этого рекламу увидят потенциальные клиенты.
            .price__answers#price-4
               p.price__answer Мы&nbsp;работаем с&nbsp;четырьмя основными рекламными площадками: facebook, Instagram, ЯндексДирект и&nbsp;Google ADS. На&nbsp;запуск двух и&nbsp;более площадок предоставляем скидку 50%.
            .price__answers#price-5
               p.price__answer Стоимость услуг складывается из&nbsp;количества товаров, которые вы&nbsp;хотите запустить в&nbsp;рекламу, а&nbsp;также количества рекламных площадок, на&nbsp;которых будут показываться рекламные объявления. Рекламный бюджет никак не&nbsp;влияет на&nbsp;стоимость работ.
            .price__answers#price-6
               p.price__answer Первые заявки пойдут в&nbsp;течении первых дней запуска рекламы. Если по&nbsp;<nobr>каким-то</nobr> причинам в&nbsp;течении 10 дней после запуска рекламы не&nbsp;будет заявок&nbsp;&mdash; мы&nbsp;вернем деньги. На&nbsp;данный момент таких прецедентов не&nbsp;было, именно поэтому мы&nbsp;можем дать такую гарантию.
 

      .price__info
         h3.price__love Любим отвечать на&nbsp;ваши вопросы
         p.price__text Мы&nbsp;на&nbsp;связи 24/7.  <a class="price__phone" href="tel:+74993482427">Звоните нам по номеру  <span>+7&nbsp;499&nbsp;3487&nbsp;247&nbsp;27</span></a> <br><a class="price__whatsap" href="https://api.whatsapp.com/send?phone=79093651151">И&nbsp;пишите  <span>сообщения</span> в&nbsp;WhatsApp</a>