section.users
   .container
      .users__img
         +picture("./assets/img/users/person.png", "./assets/img/users/person.webp", alt="Девушка")
      h2.title.users__title Знаем всех, кто вам нужен
      .users__content 
         h3.users__text 9 из 10 человек 
         p.users__description <span>вокруг вас - пользователи соц. сетей.</span> Поэтому мы&nbsp;охватим рекламой максимум аудитории. Но&nbsp;покажем её только тем, кому она интересна.