section.works#works
   .container
      h2.title.works__title <span>Мы запустили</span> более 380 <span>рекламных кампаний с&nbsp;2013&nbsp;года!</span>

   .works__slider 

      .works-slider.swiper.js-works-slider
         .works-slider__wrapper.swiper-wrapper
            .works-slider__slide.swiper-slide
               .works-slider__box
                  .works-slider__group
                     .works-slider__image(data-hystmodal="#case-modal1")
                        +picture("./assets/img/works/img1.png", "./assets/img/works/img1.webp")
                     p.works-slider__text Продвижение клуба гимнастики
                  .works-slider__group
                     .works-slider__image(data-hystmodal="#case-modal2")
                        +picture("./assets/img/works/img2.png", "./assets/img/works/img2.webp")
                     p.works-slider__text Продвижение и расширение дилерской сети мастерской фресок
                  .works-slider__group
                     .works-slider__image(data-hystmodal="#case-modal4")
                        +picture("./assets/img/works/img3.png", "./assets/img/works/img3.webp")
                     p.works-slider__text Фонд благотворительности. Реклама в Инстаграм, Facebook, Вконтакте
                  .works-slider__group 
                     .works-slider__image(data-hystmodal="#case-modal3")
                        +picture("./assets/img/works/img4.png", "./assets/img/works/img4.webp")
                     p.works-slider__text 119 лидов на покупку франшизы ресторана! 

            .works-slider__slide.swiper-slide
               .works-slider__box
                  .works-slider__group
                     .works-slider__image(data-hystmodal="#case-modal1")
                        +picture("./assets/img/works/img1.png", "./assets/img/works/img1.webp")
                     p.works-slider__text Продвижение клуба гимнастики
                  .works-slider__group
                     .works-slider__image(data-hystmodal="#case-modal2")
                        +picture("./assets/img/works/img2.png", "./assets/img/works/img2.webp")
                     p.works-slider__text Продвижение и расширение дилерской сети мастерской фресок
                  .works-slider__group
                     .works-slider__image(data-hystmodal="#case-modal4")
                        +picture("./assets/img/works/img3.png", "./assets/img/works/img3.webp")
                     p.works-slider__text Фонд благотворительности. Реклама в Инстаграм, Facebook, Вконтакте
                  .works-slider__group
                     .works-slider__image(data-hystmodal="#case-modal3")
                        +picture("./assets/img/works/img4.png", "./assets/img/works/img4.webp")
                     p.works-slider__text 119 лидов на покупку франшизы ресторана!

         .swiper-button-prev.works-slider__prev
            img(src="./assets/img/icons/arrow-prev.svg", alt="")
         .swiper-button-next.works-slider__next
            img(src="./assets/img/icons/arrow-next.svg", alt="")

   .container        
      .works-slider.works-slider--mobile.swiper.js-works-mobile
         .works-slider__wrapper.swiper-wrapper
            .works-slider__slide.swiper-slide
               .works-slider__image(data-hystmodal="#case-modal1")
                  +picture("./assets/img/works/img1.png", "./assets/img/works/img1.webp")
               p.works-slider__text Продвижение клуба гимнастики
            .works-slider__slide.swiper-slide
               .works-slider__image(data-hystmodal="#case-modal2")
                  +picture("./assets/img/works/img2.png", "./assets/img/works/img2.webp")
               p.works-slider__text Продвижение и расширение дилерской сети мастерской фресок
            .works-slider__slide.swiper-slide
               .works-slider__image(data-hystmodal="#case-modal4")
                  +picture("./assets/img/works/img3.png", "./assets/img/works/img3.webp")
               p.works-slider__text Фонд благотворительности. Реклама в Инстаграм, Facebook, Вконтакте
            .works-slider__slide.swiper-slide
               .works-slider__image(data-hystmodal="#case-modal3")
                  +picture("./assets/img/works/img4.png", "./assets/img/works/img4.webp")
               p.works-slider__text 119 лидов на покупку франшизы ресторана!