.input {
   width: 100%;
   height: 45px;

   padding-left: 20px;
   padding-right: 20px;

   background: #FFFFFF;
   transition: box-shadow .2s linear;

   @include hover {
      box-shadow: -5px 4px 10px rgba(0, 0, 0, 0.40);
   }

   @include focus {
      box-shadow: -5px 4px 10px rgba(0, 0, 0, 0.40);
   }

   &--error {
      outline: 1px solid #ff0000;

      &::placeholder {
         color: #ff0000;
      }

      @include hover {
         box-shadow: unset;
      }
   
      @include focus {
         outline: 1px solid #ff0000;
         box-shadow: unset;
      }
   }
}