meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description" content="Комплексный подход к продажам через соц. сети, готовые решения для 83 направлений бизнеса")
link(rel="stylesheet", href="./assets/css/main.min.css")

//- Open Graph
meta(property='og:url' content='..')
meta(property='og:type' content='website')
meta(property='og:title' content='Заголовок')
meta(property='og:description' content='Описание')
meta(property='og:image' content='./img/opengraph.jpg')

//- Favicons
link(rel='apple-touch-icon' sizes='180x180' href='./assets/img/favicons/apple-touch-icon.png')
link(rel='icon' type='image/png' sizes='32x32' href='./assets/img/favicons/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href='./assets/img/favicons/favicon-16x16.png')
link(rel='manifest' href='./assets/img/favicons/site.webmanifest')
link(rel='shortcut icon' href='./assets/img/favicons/favicon.ico')
meta(name='msapplication-TileColor' content='#2b5797')
meta(name='msapplication-config' content='./assets/img/favicons/browserconfig.xml')
meta(name='theme-color' content='#ffffff')
 
title #{title}