.input {
   display: block;
   height: 60px;

   padding-left: 30px;
   padding-right: 30px;
   
   background-color: rgba(#000000, 0.75);
   border-radius: 30px;
   border: none;

   font-weight: 700;
   font-size: 14px;
   color: #ffffff;

   transition: background-color .2s linear;

   &::placeholder {
      color: #ffffff;
   }

   &:hover {
      background-color: rgba(#000000, 1);
   }

   &:focus {
      outline: none;
      background-color: rgba(#000000, 1);
   }

   @media (max-width: $screen-mobile) {
      padding-left: 47px;
   }

   @media (max-width: $screen-xs) {
      padding-left: 35px;
   }
}