<header class="header  container">

   <div class="header__inner">

      <div class="logo">
         <a class="logo__link" href="#">
            <img src="assets/img/logo.svg" alt="Таможенный декларант">
         </a>
      </div>

      <nav class="header__nav  nav">

         <ul class="nav__list">

            <li class="nav__item">
               <a class="nav__item-link" href="#services">Услуги</a>
            </li>

            <li class="nav__item">
               <a class="nav__item-link" href="#price">Стоимость</a>
            </li>

            <li class="nav__item">
               <a class="nav__item-link" href="#reviews">Отзывы</a>
            </li>

            <li class="nav__item">
               <a class="nav__item-link" href="#contacts">Контакты</a>
            </li>

         </ul><!-- nav__list -->

      </nav><!-- nav -->

      <a class="header__mobile-close" href="#" id="js-burger">
         <span></span>
      </a>

   </div><!-- header__inner -->

   <div class="header__mobile" id="js-header-mobile">

      <div class="logo">
         <a class="logo__link" href="#">
            <img src="assets/img/logo.svg" alt="Таможенный декларант">
         </a>
      </div>

      <nav class="header__nav  nav">

         <ul class="nav__list">

            <li class="nav__item">
               <a class="nav__item-link" href="#services">Услуги</a>
            </li>

            <li class="nav__item">
               <a class="nav__item-link" href="#price">Стоимость</a>
            </li>

            <li class="nav__item">
               <a class="nav__item-link" href="#reviews">Отзывы</a>
            </li>

            <li class="nav__item">
               <a class="nav__item-link" href="#contacts">Контакты</a>
            </li>

         </ul><!-- nav__list -->

      </nav><!-- nav -->

   </div><!-- header__mobile -->

</header><!-- header -->
 