.tasks {
   padding-top: 80px;
   padding-bottom: 40px;

   border-bottom: 1px solid #e1e1e1;

   @media (max-width: $screen-tablet) {
      padding-top: 50px;
      padding-bottom: 20px;
   }

   @media (max-width: $screen-mobile) {
      padding-bottom: 10px;
   }

   @media (max-width: $screen-xs) {
      padding-top: 40px;
      padding-bottom: 40px;
   }

   &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding-left: 100px;
      padding-right: 114px;

      & > * {
         flex-shrink: 0;
      }

      @media (max-width: $screen-tablet) {
         padding-left: 75px;
         padding-right: 0;
      }

      @media (max-width: $screen-mobile) {
         padding-left: 0;
         
         flex-direction: row-reverse;
         align-items: flex-start;
      }

      @media (max-width: $screen-xs) {
         flex-direction: column-reverse;
      }
   }

   &__content {
      width: 570px;

      margin-left: auto;
      margin-right: auto;

      @media (max-width: $screen-tablet) {
         width: 495px;

         margin-left: unset;
         margin-top: -20px;
      }

      @media (max-width: $screen-mobile) {
         width: 270px;

         padding-top: 25px;
         margin-right: unset;
      }

      @media (max-width: $screen-xs) {
         width: 100%;
         text-align: center;
      }
   }

   &__header,
   &__title {
      margin-bottom: 30px;
   }

   &__title {
      @media (max-width: $screen-tablet) {
         margin-bottom: 20px;
      }

      @media (max-width: $screen-xs) {
         margin-bottom: 10px;
      }
   }

   &__header {
      @media (max-width: $screen-tablet) {
         margin-bottom: 20px;
      }
   }

   &__img {
      @media (max-width: $screen-tablet) {
         width: 265px;
      }

      @media (max-width: $screen-mobile) {
         width: 270px;
      }

      @media (max-width: $screen-xs) {
         width: 100%;
         margin-bottom: 10px;

         text-align: center;
         
         img { 
            width: 270px;

            margin-left: auto;
            margin-right: auto;
         }
      }
   }

   &__text {
      max-width: 400px;

      font-weight: 500;
      font-size: 14px;
      line-height: 2.1;
      color: $paragraphColor;

      & > *:not(:last-child) {
         margin-bottom: 15px;
      }

      @media (max-width: $screen-tablet) {
         max-width: 420px;
      }

      @media (max-width: $screen-mobile) {
         line-height: 1.7;
      }

      @media (max-width: $screen-xs) {
         margin-left: auto;
         margin-right: auto;
      }
   }
}