.case-name {
   font-weight: 700;
   font-size: 25px;
   line-height: 1.4;
   color: #333333;

   @media (max-width: $screen-sm) {
      font-size: 20px;
   }

   &--center {
      text-align: center;
   }

   &--small {
      font-size: 18px;
      line-height: 1;
   }

   span {
      font-size: 28px;
      color: red;
   }
}