<footer class="footer">
   <div class="container">
      <div class="footer__top">

         <a class="footer__logo" href="/">
            <img src="./assets/img/Logo_header-white.svg" alt="Логотип Валес">
         </a>

         <nav class="footer__nav-box  nav">

            <ul class="nav__list">

               <li class="nav__item">
                  <a class="nav__link" href="#about">О КОМПАНИИ</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link" href="#services">НАШИ УСЛУГИ</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link" href="#advantages">ПРЕИМУЩЕСТВА</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link" href="#partners">ПАРТНЕРЫ</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link" href="#portfolio">ПРОЕКТЫ</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link" href="#contacts">КОНТАКТЫ</a>
               </li>

            </ul><!-- nav__list -->

         </nav><!-- footer__nav-box -->

      </div>
      <div class="footer__copy">
         <p>© Velescompany 2017-2021</p>
      </div>
   </div>
</footer>