<header class='header'>
   <div class="header__top" id="js-header-top">

      <div class="header__box">
         <a class="header__logo" href="#">
            <img src="./assets/img/logo.svg" alt="Логотип строительной компании">
         </a>
         <p class="header__desk">
            Успешный участник <br> строительной индустрии!
         </p>
      </div><!-- header__box -->

      <div class="header__contacts">
         <div class="header__contacts-info">
            <div class="header__contacts-phone">
               <a href="tel:+79057342842">+7 905 734-28-42</a>
            </div>

            <div class="header__contacts-email">
               <a href="mailto:skveles1@mail.ru">skveles1@mail.ru</a>
            </div>
         </div>

         <a class="header__contacts-btn  btn" href="#contacts">ЗАКАЗАТЬ ЗВОНОК</a>
      </div><!-- header__contacts -->

   </div><!-- header__top -->


   <div class="header__nav">
      <div class="container">
         <nav class="header__nav-box  nav  header__nav-box--mobile">

            <div class="header__mobile-close-container">
               <a class="header__mobile-close" href="#" id="js-burger">
                  <span></span>
               </a>
            </div>

            <a class="header__contacts-btn btn" href="#contacts">ЗАКАЗАТЬ ЗВОНОК</a>

            <ul class="nav__list">

               <li class="nav__item">
                  <a class="nav__link" href="#about">О КОМПАНИИ</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link" href="#services">НАШИ УСЛУГИ</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link" href="#advantages">ПРЕИМУЩЕСТВА</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link" href="#partners">ПАРТНЕРЫ</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link" href="#portfolio">ПРОЕКТЫ</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link" href="#contacts">КОНТАКТЫ</a>
               </li>

            </ul><!-- nav__list -->


            <ul class="nav__list-mobile" id="js-mobile-menu">

               <li class="nav__item">
                  <a class="nav__link  js-nav-mobilie" href="#about">О КОМПАНИИ</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link  js-nav-mobilie" href="#services">НАШИ УСЛУГИ</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link  js-nav-mobilie" href="#advantages">ПРЕИМУЩЕСТВА</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link  js-nav-mobilie" href="#partners">ПАРТНЕРЫ</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link  js-nav-mobilie" href="#portfolio">ПРОЕКТЫ</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link  js-nav-mobilie" href="#contacts">КОНТАКТЫ</a>
               </li>

               <li class="nav__item  nav__item--margin">
                  <a class="nav__link  nav__link-phone" href="tel:+79057342842">+7 905 734-28-42</a>
               </li>

               <li class="nav__item">
                  <a class="nav__link  nav__link-email" href="mailto:skveles1@mail.ru">skveles1@mail.ru</a>
               </li>

            </ul><!-- nav__list -->

         </nav><!-- header__nav -->
      </div><!-- container -->
   </div><!-- header__nav -->
</header>